<form [formGroup]="_form">

  <div flex fxLayout="row" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%">
    <div fxFlex="33">
      <mat-form-field appearance="{{appearance}}">
        <mat-label>País</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let t of countries" [value]="t.value">
            {{t.label}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>short_text</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="33">
      <mat-form-field appearance="{{appearance}}">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let t of states" [value]="t.value">
            {{t.label}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>short_text</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="33">
      <mat-form-field appearance="{{appearance}}">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Cidade" formControlName="city">
        <mat-icon matSuffix>short_text</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div flex fxLayout="row" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%">
    <div fxFlex="33">
      <mat-form-field appearance="{{appearance}}">
        <mat-label>Logradouro</mat-label>
        <input matInput placeholder="Logradouro" formControlName="place">
        <mat-icon matSuffix>short_text</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="33">
      <mat-form-field appearance="{{appearance}}">
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="Complemento" formControlName="complement">
        <mat-icon matSuffix>short_text</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="33">
      <mat-form-field appearance="{{appearance}}">
        <mat-label>Número</mat-label>
        <input matInput placeholder="Número" formControlName="number">
        <mat-icon matSuffix>short_text</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div flex fxLayout="row" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%">
    <div fxFlex="33">
      <mat-form-field appearance="{{appearance}}">
        <mat-label>Bairro</mat-label>
        <input matInput placeholder="Bairro" formControlName="district">
        <mat-icon matSuffix>short_text</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="33">
      <mat-form-field appearance="{{appearance}}">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="CEP" formControlName="zipcode">
        <mat-icon matSuffix>short_text</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="33">
      <mat-form-field appearance="{{appearance}}">
        <mat-label>Tipo de Endereço</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let t of addressType" [value]="t.value">
            {{t.label}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>short_text</mat-icon>
      </mat-form-field>
    </div>
  </div>

</form>
<pre>{{ _form.value | json }}</pre>
<pre>{{ _form.invalid | json }}</pre>
