<div class="body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <p>
      <app-custom-combobox formControlName="counter"></app-custom-combobox>
    </p>
    <p>
      <app-autocomplete-user formControlName="user"></app-autocomplete-user>
    </p>
    <p>
      <app-autocomplete-user formControlName="user2"></app-autocomplete-user>
    </p>
    <p>
      <app-autocomplete-roles formControlName="roles"></app-autocomplete-roles>
    </p>
    <p>
      <app-autocomplete-roles formControlName="roles2" (selectItem)="select($event)"></app-autocomplete-roles>
    </p>
    <p>
      <app-address formControlName="address"></app-address>
    </p>
    <button>Submit</button>
  </form>
  <h4>Dados do formulário</h4>
  <pre>Valid: {{ form.valid }}</pre>
  <pre>Invalid: {{ form.invalid }}</pre>
  <pre>{{ form.value | json }}</pre>
  <h4>Dados do objeto</h4>
  <pre>{{ data | json }}</pre>
</div>
